In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [90]:
df=pd.read_json('test.json')
df.to_csv('text.csv', index=False)
df.shape
df.head()

(115760, 3)

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠ...
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹...
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±Ùˆ...
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…...

In [91]:
iq_df = df[df['dialect'] == 'IQ'].drop(columns = ['id','dialect'])
iq_df.to_csv('Iq.txt', index = False)
iq_df.shape

(15497, 1)

In [92]:
pl_df = df[df['dialect'] == 'PL'].drop(columns = ['id','dialect'])
pl_df.to_csv('Pl.txt', index = False)
pl_df.shape

(32695, 1)

In [79]:
sy_df = df[df['dialect'] == 'SY'].drop(columns = ['id','dialect'])
sy_df.to_csv('Sy.txt', index = False)
sy_df.shape

(0, 1)

In [ ]:
jo_df = df[df['dialect'] == 'JO'].drop(columns = ['id','dialect'])
jo_df.to_csv('Jo.txt', index = False)
jo_df.shape

In [ ]:
lb_df = df[df['dialect'] == 'LB'].drop(columns = ['id','dialect'])
lb_df.to_csv('Lb.txt', index = False)
lb_df.shape

In [93]:
lev_df = pd.concat([iq_df, pl_df])
lev_df['dialect'] = 'Lev'
lev_df.shape
lev_df.head()

(48192, 2)

                                                text dialect
0  @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠ...     Lev
1  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹...     Lev
2    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ     Lev
3  @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±Ùˆ...     Lev
4  @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…...     Lev

In [80]:
ly_df = df[df['dialect'] == 'LY'].drop(columns = ['id','dialect'])
ly_df.to_csv('Ly.txt', index = False)
ly_df.shape

(36499, 1)

In [81]:
qa_df = df[df['dialect'] == 'QA'].drop(columns = ['id','dialect'])
qa_df.to_csv('Qa.txt', index = False)
qa_df.shape

(31069, 1)

In [ ]:
tn_df = df[df['dialect'] == 'TN'].drop(columns = ['id','dialect'])
tn_df.to_csv('Tn.txt', index = False)
tn_df.shape