In [22]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [28]:
df=pd.read_json('test.json')
df.to_csv('text.csv', index=False)
df.shape
df.head()

(131933, 3)

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº

,id,dialect,text
131928,1157323061722529792,SY,@moatazmatar Ø§Ø¹Ù„Ø§Ù… Ø§Ù„Ø³ÙŠØ³ÙŠ ØµØ§Ø± Ù…ØºØªØ§Ù„Ùƒ Ù…ÙŠØ© Ù…Ø±Ù‡
131929,1157363377410314240,SY,@soweakwallah1 @_soweakwallahi Ù„ÙŠØ´ Ø·ÙˆÙ„ Ø¨Ø§Ù„Ùƒ ÙÙŠ...
131930,1157595372795117568,SY,@Aghani_Zaman Ù…Ù† Ø§ØªÙÙ‡ Ø§Ù„Ù…Ø·Ø±Ø¨ÙŠÙ† Ø¹Ù…Ù„ÙˆÙ‡Ø§ ÙÙ…Ø·Ø±Ø¨Ù‡ Øº...
131931,1157970925146509312,SY,@omar25g @ALAMAWI Ø·Ø¨Ø¹Ø¢ Ø§Ù†Ø³Ø§Ù† ÙØ§Ø´Ù„ Ø£Ø®Ø° Ø§Ù„Ø«Ø§Ù†ÙˆÙŠÙ‡...
131932,1158314306771009536,SY,@AksalserNews Ø§Ù„Ù„Ù‡ ÙŠØ³Ø§Ø¹Ø¯ Ù‡Ø§Ù„Ø³ÙˆØ±ÙŠÙŠÙ† Ù„Ø§ Ø¨ÙŠØªØ±ÙƒÙˆÙ‡Ù†...

In [29]:
iq_df = df[df['dialect'] == 'IQ'].drop(columns = ['id','dialect'])
iq_df.to_csv('Iq.txt', index = False)
iq_df.shape

(15497, 1)

In [30]:
pl_df = df[df['dialect'] == 'PL'].drop(columns = ['id','dialect'])
pl_df.to_csv('Pl.txt', index = False)
pl_df.shape

(43740, 1)

In [34]:
sy_df = df[df['dialect'] == 'SY'].drop(columns = ['id','dialect'])
sy_df.to_csv('Sy.txt', index = False)
sy_df.shape

(5128, 1)

In [35]:
lev_df = pd.concat([iq_df, pl_df,sy_df])
lev_df['dialect'] = 'Lev'
lev_df.shape
lev_df.head()

(64365, 2)

                                                text dialect
0   @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .     Lev
1  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...     Lev
2                    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ     Lev
3         @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’     Lev
4                 @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº     Lev

In [32]:
lev_df.to_csv('lev_data.csv', index=False)

In [33]:
lev_df = pd.read_csv('lev_data.csv')
lev_df.shape
lev_df.drop_duplicates(subset='text',inplace=True)
lev_df.shape
lev_df.head()

(59237, 2)

(59237, 2)

                                                text dialect
0   @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .     Lev
1  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...     Lev
2                    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ     Lev
3         @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’     Lev
4                 @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº     Lev

In [ ]:
ly_df = df[df['dialect'] == 'LY'].drop(columns = ['id','dialect'])
ly_df.to_csv('Ly.txt', index = False)
ly_df.shape

In [ ]:
qa_df = df[df['dialect'] == 'QA'].drop(columns = ['id','dialect'])
qa_df.to_csv('Qa.txt', index = False)
qa_df.shape

In [ ]:
tn_df = df[df['dialect'] == 'TN'].drop(columns = ['id','dialect'])
tn_df.to_csv('Tn.txt', index = False)
tn_df.shape